.usersContainer{
  position: relative;
  width: 98%;
  height: 500px;
}

.usersContainer{
  display:flex; 
  flex-direction:row;
}

.usersList{
  margin-top: 15px;
  margin-left: 40px;
}

.userDetails{
  margin-top: 10px;
  margin-left: 230px;
  max-height:500px;
  width: 1000px;
  overflow-y:scroll;
  overflow-x: hidden;
}

.userColumn{
  width: 300px;
  margin-left: 5px;
  margin-right: 30px;
}


.dataFetchFailure,
.dataFetchLoading{
  position: relative;
  height: 510px;
} 

.header{
margin-top: 20px;
}

.footer{
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  background-color: #003369 !important;
  text-align: center;
  color: white;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}
.addAccountContainer {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}

.formGroup {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.formButton { 
  color: #0070ad;
  font-size: medium;
  margin-top: 20px;
}